/project/target/config-classes/
/project/target/config-classes
/project/target/config-classes/*
/project/target/config-classes/$e5ac05384353891f3ec6.cache
/project/target/config-classes/$e5ac05384353891f3ec6.class
/project/target/config-classes/$f5646b04b53f9d8dbc0b$.class
/project/target/config-classes/$f5646b04b53f9d8dbc0b.cache
/project/target/config-classes/$f5646b04b53f9d8dbc0b.class
/project/target/config-classes/$fadb57e7b604cdee6c31$.class
/project/target/config-classes/$fadb57e7b604cdee6c31.cache
/project/target/config-classes/$fadb57e7b604cdee6c31.class
/.idea/.gitignore
/target/.history3
/.idea/.name
/project/build.properties
/target/scala-2.13/classes/com/ps/commands/Cd.class
/.idea/codeStyles/codeStyleConfig.xml
/target/scala-2.13/classes/com/ps/commands/Command$$anon$1.class
/target/scala-2.13/classes/com/ps/commands/Command$$anon$2.class
/target/scala-2.13/classes/com/ps/commands/Command$.class
/target/scala-2.13/classes/com/ps/commands/Command.class
/project/target/streams/compile/copyResources/_global/streams/copy-resources
/target/scala-2.13/classes/com/ps/commands/CreateEntry.class
/project/target/streams/compile/_global/_global/discoveredMainClasses/data
/.idea/dbnavigator.xml
/.idea/modules/demo_filesystem.iml
/.idea/modules/demo_filesystem-build.iml
/target/scala-2.13/classes/com/ps/files/Directory$.class
/target/scala-2.13/classes/com/ps/files/Directory.class
/target/scala-2.13/classes/com/ps/files/DirEntry.class
/project/target/streams/compile/compileIncremental/_global/streams/export
/project/target/streams/compile/dependencyClasspath/_global/streams/export
/project/target/streams/compile/exportedProducts/_global/streams/export
/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
/project/target/streams/compile/managedClasspath/_global/streams/export
/project/target/streams/compile/unmanagedClasspath/_global/streams/export
/project/target/streams/compile/unmanagedJars/_global/streams/export
/project/target/streams/runtime/dependencyClasspath/_global/streams/export
/project/target/streams/runtime/exportedProducts/_global/streams/export
/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/project/target/streams/runtime/fullClasspath/_global/streams/export
/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
/project/target/streams/runtime/managedClasspath/_global/streams/export
/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
/project/target/streams/runtime/unmanagedJars/_global/streams/export
/target/streams/compile/externalDependencyClasspath/_global/streams/export
/target/streams/compile/managedClasspath/_global/streams/export
/target/streams/compile/unmanagedClasspath/_global/streams/export
/target/streams/compile/unmanagedJars/_global/streams/export
/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/target/streams/runtime/managedClasspath/_global/streams/export
/target/streams/runtime/unmanagedClasspath/_global/streams/export
/target/streams/runtime/unmanagedJars/_global/streams/export
/target/streams/test/externalDependencyClasspath/_global/streams/export
/target/streams/test/managedClasspath/_global/streams/export
/target/streams/test/unmanagedClasspath/_global/streams/export
/target/streams/test/unmanagedJars/_global/streams/export
/target/scala-2.13/classes/com/ps/files/File$.class
/target/scala-2.13/classes/com/ps/files/File.class
/target/scala-2.13/classes/com/ps/filesystem/FileSystem$.class
/target/scala-2.13/classes/com/ps/filesystem/FileSystem$delayedInit$body.class
/target/scala-2.13/classes/com/ps/filesystem/FileSystem.class
/target/scala-2.13/classes/com/ps/filesystem/FilesystemException.class
/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/input_dsp
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
/target/scala-2.13/update/update_cache_2.13/inputs
/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/inputs
/target/scala-2.13/classes/com/ps/commands/Ls.class
/.idea/misc.xml
/target/scala-2.13/classes/com/ps/commands/MkDir$.class
/target/scala-2.13/classes/com/ps/commands/MkDir.class
/.idea/modules.xml
/project/target/streams/_global/_global/_global/streams/out
/project/target/streams/_global/_global/csrLogger/_global/streams/out
/project/target/streams/_global/csrConfiguration/_global/streams/out
/project/target/streams/_global/csrProject/_global/streams/out
/project/target/streams/_global/ivyConfiguration/_global/streams/out
/project/target/streams/_global/ivySbt/_global/streams/out
/project/target/streams/_global/moduleSettings/_global/streams/out
/project/target/streams/_global/projectDescriptors/_global/streams/out
/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
/project/target/streams/_global/update/_global/streams/out
/project/target/streams/compile/bspReporter/_global/streams/out
/project/target/streams/compile/compile/_global/streams/out
/project/target/streams/compile/compileIncremental/_global/streams/out
/project/target/streams/compile/copyResources/_global/streams/out
/project/target/streams/compile/incOptions/_global/streams/out
/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
/project/target/streams/compile/scalacOptions/_global/streams/out
/project/target/streams/compile/unmanagedClasspath/_global/streams/out
/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
/target/streams/_global/_global/csrLogger/_global/streams/out
/target/streams/_global/_global/dumpStructure/_global/streams/out
/target/streams/_global/csrConfiguration/_global/streams/out
/target/streams/_global/csrProject/_global/streams/out
/target/streams/_global/ivyConfiguration/_global/streams/out
/target/streams/_global/ivySbt/_global/streams/out
/target/streams/_global/moduleSettings/_global/streams/out
/target/streams/_global/projectDescriptors/_global/streams/out
/target/streams/_global/update/_global/streams/out
/target/streams/_global/updateClassifiers/_global/streams/out
/target/streams/compile/scalacOptions/_global/streams/out
/target/streams/compile/unmanagedClasspath/_global/streams/out
/target/streams/runtime/unmanagedClasspath/_global/streams/out
/target/streams/test/unmanagedClasspath/_global/streams/out
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
/target/scala-2.13/update/update_cache_2.13/output
/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/output
/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
/project/target/streams/compile/_global/_global/compileOutputs/previous
/.idea/codeStyles/Project.xml
/target/scala-2.13/classes/com/ps/commands/Pwd.class
/target/scala-2.13/classes/com/ps/commands/Rm.class
/.bsp/sbt.json
/.idea/sbt.xml
/.idea/libraries/sbt__org_scala_lang_scala_library_2_13_6_jar.xml
/.idea/scala_compiler.xml
/target/scala-2.13/classes/com/ps/filesystem/State$.class
/target/scala-2.13/classes/com/ps/filesystem/State.class
/target/scala-2.13/classes/com/ps/commands/Touch.class
/target/scala-2.13/classes/com/ps/commands/UnknownCommand.class
/.idea/vcs.xml
